<header style="border-bottom: 1px solid rgb(225, 225, 225) ;">
    <nav style="display:flex; justify-content:space-between; width: 70%; height:10vh; margin: auto;">
        <h1 style="padding-top: 15px;">Chef-keff</h1>
        <div style="width:30%; justify-content: center; align-items: center; margin-right: 50px;">
            <ul style="display: flex; justify-content:space-between; align-items: center; padding-top: 20px;">
                <li style="list-style: none;"><a style="text-decoration: none; text-transform: uppercase; color: rgb(54, 53, 53);" href="/">Home</a></li>
                <li style="list-style: none;"><a style="text-decoration: none; text-transform: uppercase; color: rgb(54, 53, 53);" href="#">About</a></li>
                <!-- <li style="list-style: none;"><a style="text-decoration: none; text-transform: uppercase; color: rgb(54, 53, 53);" href="/item">Recipe</a></li> -->
            </ul>
        </div>
    </nav>
</header>